<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jura:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="course-all">
      <header class="menu">
        <div class="home-wrap"></div>
        <div class="logo"></div>
        <div class="menu-inner">
          <div class="frame-parent">
            <div class="trang-ch-wrapper">
              <div class="trang-ch">TRANG CHỦ</div>
            </div>
            <div class="kha-hc-wrapper">
              <div class="kha-hc">KHÓA HỌC</div>
            </div>
            <div class="blog-wrapper">
              <div class="blog">BLOG</div>
            </div>
            <div class="chat-bot-wrapper">
              <div class="chat-bot">CHAT BOT</div>
            </div>
            <img
              class="ti-khon-icon"
              loading="lazy"
              alt=""
              src="./public/ti-khon@2x.png"
            />
          </div>
        </div>
      </header>
  </body>
