<%- include ("includes/header") %>
<main class="course-all-inner">
    <section class="frame-group">
      <div class="video-container-parent">
        <div class="video-container">
          <div class="con-vt">CON VẬT</div>
          <div class="khung-video-parent">
            <div class="khung-video"></div>
            <textarea class="nh-video" rows="{13}" cols="{16}"> </textarea>
          </div>
          <div class="tin-90-wrapper">
            <div class="tin-90-container">
              <span>
                <p class="tin-90">Tiến độ: 90%</p>
              </span>
            </div>
          </div>
        </div>
        <div class="video-container1">
          <div class="con-vt1">CON VẬT</div>
          <div class="khung-video-group">
            <div class="khung-video1"></div>
            <textarea class="nh-video1" rows="{13}" cols="{16}"> </textarea>
          </div>
          <div class="tin-90-frame">
            <div class="tin-90-container1">
              <span>
                <p class="tin-901">Tiến độ: 90%</p>
              </span>
            </div>
          </div>
        </div>
        <div class="video-container2">
          <div class="con-vt2">CON VẬT</div>
          <div class="khung-video-container">
            <div class="khung-video2"></div>
            <textarea class="nh-video2" rows="{13}" cols="{16}"> </textarea>
          </div>
          <div class="frame-div">
            <div class="tin-90-container2">
              <span>
                <p class="tin-902">Tiến độ: 90%</p>
              </span>
            </div>
          </div>
        </div>
        <div class="video-container3">
          <div class="con-vt3">CON VẬT</div>
          <div class="khung-video-parent1">
            <div class="khung-video3"></div>
            <textarea class="nh-video3" rows="{13}" cols="{16}"> </textarea>
          </div>
          <div class="tin-90-wrapper1">
            <div class="tin-90-container3">
              <span>
                <p class="tin-903">Tiến độ: 90%</p>
              </span>
            </div>
          </div>
        </div>
        <div class="video-container4">
          <div class="con-vt4">CON VẬT</div>
          <div class="khung-video-parent2">
            <div class="khung-video4"></div>
            <textarea class="nh-video4" rows="{13}" cols="{16}"> </textarea>
          </div>
          <div class="tin-90-wrapper2">
            <div class="tin-90-container4">
              <span>
                <p class="tin-904">Tiến độ: 90%</p>
              </span>
            </div>
          </div>
        </div>
        <div class="video-container5">
          <div class="con-vt5">CON VẬT</div>
          <div class="khung-video-parent3">
            <div class="khung-video5"></div>
            <textarea class="nh-video5" rows="{13}" cols="{16}"> </textarea>
          </div>
          <div class="tin-90-wrapper3">
            <div class="tin-90-container5">
              <span>
                <p class="tin-905">Tiến độ: 90%</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="wrapper">
            <div class="div">1</div>
          </div>
          <div class="container">
            <div class="div1">2</div>
          </div>
          <div class="frame">
            <div class="div2">...</div>
          </div>
          <div class="wrapper1">
            <div class="div3">10</div>
          </div>
          <img
            class="frame-item"
            loading="lazy"
            alt=""
            src="./public/group-76.svg"
          />
        </div>
      </div>
    </section>
</main>
